Fase-2/XML/ClasificacionGeneral/ClasificacionGeneral.dtd

<!ELEMENT clasificacion (info)>
<!ELEMENT info (jornada+)>
<!ELEMENT jornada (equipo+)>
<!ATTLIST jornada id CDATA #REQUIRED>
<!ATTLIST jornada fecha CDATA #REQUIRED>
<!ELEMENT equipo (nombre, pais, jugador+)>
<!ATTLIST equipo id CDATA #REQUIRED>
<!ATTLIST equipo puntuacion CDATA #IMPLIED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT jugador (nickname, rol)>
<!ATTLIST jugador id CDATA #REQUIRED>
<!ELEMENT nickname (#PCDATA)>
<!ELEMENT rol (#PCDATA)>