Fase-2/XML/TodasJornadas/todasJornadas.dtd

<!ELEMENT torneo (jornada+)>
<!ELEMENT jornada (partido+)>
<!ATTLIST jornada id CDATA #REQUIRED>
<!ATTLIST jornada fecha CDATA #REQUIRED>
<!ELEMENT partido (equipo+)>
<!ATTLIST partido id CDATA #REQUIRED>
<!ATTLIST partido hora CDATA #REQUIRED>
<!ELEMENT equipo (nombre, pais)>
<!ATTLIST equipo id CDATA #REQUIRED>
<!ATTLIST equipo puntuacion CDATA #IMPLIED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
